.button {
  background-color: #202538;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2c324a;
}